body {
    background: #FFFFFF;
}

.header {
    background: #FFFFFF;
    height: 100px;
    width: 100%;
}

.fontColor {
    color: #009CAE;
}

.border {
    border: 1px solid rgba(0, 0, 0, 0.19);
}

.footer {
    color: #FFFFFF;
    height: 150px;
    background-color: #009CAE;
    margin-top: auto
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}